@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Handlee&display=swap');

h1, h2, h3 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #473621;
  }

p {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
  }

#homepage {
    background-image:url(https://images.pexels.com/photos/566344/pexels-photo-566344.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
}
#mask {
    background-color: rgba(21, 17, 17, 0.6);
}
footer{
    background-color: #0b62df;
}
