{% extends "base.html" %}
{% load static %}
{% block content %}
<section id="homepage"class="vh-100">
    <div id="mask" class="vh-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                
                    <div class="row g-0">
                        
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="card-body p-4 p-lg-5 text-white text-center">
                                <h2 class="fs-2 fw-bold mb-3 text-white">Welcome to West Coast Restaurant</h2>
                                <p class="mb-4 text-uppercase">Always Fresh Seafood</p>
                                <hr>
                                <a href="{% url 'make_reservation' %}" class="btn btn-success">Make a Reservation</a>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</section>
<br><br><br>
<section>
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://images.pexels.com/photos/3957499/pexels-photo-3957499.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            class="img-fluid" alt="Sample image">
        </div>
        <br><br><br>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 text-center">
            <h1>À LA CARTE</h1>
<hr>
<h4>GRATEN PILGRIM MUSSELS - €13.36</h4>
<p>Parsley, garlic, chilli and panko</p>

<h4>GARLIC GRATIN CRAFT - €6.46</h4>

<h4>”LA” GRATEN OYSTERS - €5.60</h4>
<p>Cognac, spinach, aioli and Abondance</p>

<h4>HALF A GRATEN LOBSTER - €32.31</h4>
<p>Mushrooms, lobster sauce and priest's cheese</p>

<h4>BLUE MUSSELS - €19.39</h4>
<p>White wine, cream and croutons</p>

<h4>SALMON BAGEL  - €6.30</h4>
<p>with classic accessories</p>

          
        </div>
      </div>
    </div>
<br> 
<hr>
<br><br><br>
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://images.pexels.com/photos/3026804/pexels-photo-3026804.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="img-fluid" alt="Sample image">
        </div>
        <br><br><br>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 text-center">
            <h1 class="text-uppercase">Desserts</h1>
<p>A sweet ending to dinner will be the finale of your meal.
     For those who prefer a saltier finish, we offer a selection 
     of fine cheeses with accessories.</p>
     <hr>
<h4>RHUBARB - €13.36</h4>
<p>Yoghurt ice cream, rhubarb, meringue and browned butter</p>

<h4>PEARS - €13.36</h4>
<p>Lemon foam, vanilla crumble and tagetes</p>

<h4>"MERINGWISE" - €13.36</h4>
<p>Vanilla, banana, chocolate and meringue</p>

<h4>COFFEE CANDY - €13.36</h4>
<p>Enjoy our truffles and petit fours</p>

<h4>BROWNIES - €4.74</h4>
<p>with raspberries and whipped cream</p>

<h4>PRALINES - €4.74</h4>
<p>The fishing restaurant's selection of pralines</p>


          
        </div>
       
      </div>
    </div>
<br>    
<hr>
<br><br><br>
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://images.pexels.com/photos/1123260/pexels-photo-1123260.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            class="img-fluid" alt="Sample image">
        </div>
        <br><br><br>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 text-center">
            

<h1 class="text-uppercase">Wine list</h1>
<p>Wine by the glass.</p>
<hr>
<h4 class="text-uppercase">Italy</h4>
<p>Recioto Della Valpolicella, Ca Vendri - 2014 <strong>€59.89</strong></p>
<h4 class="text-uppercase">Tuscany</h4>
<p>Vin Santo, Brolio - 2011 <strong>€85.74</strong></p>
<h4 class="text-uppercase">Spain</h4>
<p>Chevite, Collección 125, Chardonnay - 1997 <strong>€77.12</strong></p>
<h4 class="text-uppercase">White wines</h4>
<p>Riesling, Trocken, K-Wechsler - 2022 <strong>€12.49</strong></p>
<h4 class="text-uppercase">Red wines</h4>
<p>Bourgogne Rouge, Francois Confuron-Gindre - 2021 <strong>€19.39</strong></p>


          
        </div>
      </div>
    </div>
    
</section>

<br><br><br>

{% endblock %}
