{% extends "base.html" %}
{% load static %}

{% block content %}


<section class="vh-100" style="background-image:url(https://images.pexels.com/photos/566344/pexels-photo-566344.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); 
background-repeat: no-repeat; background-size: cover;">
    <div class="vh-100" style="background-color: rgba(21, 17, 17, 0.6);">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                
                    <div class="row g-0">
                        
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="card-body p-4 p-lg-5 text-white text-center">
                                <h2 class="fs-2 fw-bold mb-3">Welcome to West Coast Restaurant</h2>
                                <p class="mb-4 text-uppercase">Always Fresh Seafood</p>
                                <hr>
                                <a href="{% url 'make_reservation' %}" class="btn btn-success">Make a Reservation</a>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</section>
<br><br><br>
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://images.pexels.com/photos/3957499/pexels-photo-3957499.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 text-center">
            <h1>À LA CARTE</h1>

<h2>Spring menu SEK 1,195</h2>
<p>Seasonal menu with flavors of spring.</p>

<h3>LOBSTER</h3>
<p>Sturgeon caviar, fennel and dill emulsion</p>

<h3>WHITE ASPARAGUS</h3>
<p>Flounder roe, grilled hollandaise, macadamia nut and spring onions</p>

<h3>HALIBUT</h3>
<p>Morels, roasted panko, primroses and buttered chicken breast</p>

<h3>RHUBARB</h3>
<p>Yoghurt ice cream, browned butter, rhubarb and meringue</p>


          
        </div>
      </div>
    </div>
    
</section>
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
       
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 text-center">
            <h1>À LA CARTE</h1>

<h2>Spring menu SEK 1,195</h2>
<p>Seasonal menu with flavors of spring.</p>

<h3>LOBSTER</h3>
<p>Sturgeon caviar, fennel and dill emulsion</p>

<h3>WHITE ASPARAGUS</h3>
<p>Flounder roe, grilled hollandaise, macadamia nut and spring onions</p>

<h3>HALIBUT</h3>
<p>Morels, roasted panko, primroses and buttered chicken breast</p>

<h3>RHUBARB</h3>
<p>Yoghurt ice cream, browned butter, rhubarb and meringue</p>


          
        </div>
        <div class="col-md-9 col-lg-6 col-xl-5">
            <img src="https://images.pexels.com/photos/3026804/pexels-photo-3026804.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              class="img-fluid" alt="Sample image">
          </div>
      </div>
    </div>
    
</section>
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://images.pexels.com/photos/109275/pexels-photo-109275.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 text-center">
            <h1>À LA CARTE</h1>

<h2>Spring menu SEK 1,195</h2>
<p>Seasonal menu with flavors of spring.</p>

<h3>LOBSTER</h3>
<p>Sturgeon caviar, fennel and dill emulsion</p>

<h3>WHITE ASPARAGUS</h3>
<p>Flounder roe, grilled hollandaise, macadamia nut and spring onions</p>

<h3>HALIBUT</h3>
<p>Morels, roasted panko, primroses and buttered chicken breast</p>

<h3>RHUBARB</h3>
<p>Yoghurt ice cream, browned butter, rhubarb and meringue</p>


          
        </div>
      </div>
    </div>
    
</section>

{% endblock %}
