{% extends "base.html" %}

{% block content %}

{% if reservations %}
{% for booking in reservations %}

  <div class="col">
<div class="card">
  <div class="card-header">
    Reservations detail
  </div>
  <div class="card-body">
    
    <p><strong>Name:</strong> {{ booking.full_name }} </p>
    <p><strong>Email:</strong>   {{ booking.email }} </p>
    <p><strong>Guest list:</strong>   {{ booking.guest_list }} </p>
    <p><strong>Date:</strong>   {{ booking.date }} </p>
    <p><strong>Time:</strong>   {{ booking.time }} </p>
            {% if booking.approved %}
            <p><strong>Status:</strong>  Approved
            </p>
            {% else %}
            <p><strong>Status:</strong>  Pending 
            </p>
          {% endif %}
<button class="btn btn-success">
  <a a href="{% url 'update_reservation' booking.id %}">Edit</a></button>

<button class="btn btn-success">Delete</button>
    </div>
  </div>
</div>

{% endfor %}
{% else %}

<h2>No bookings</h2>
<p>Want to book a table?</p>

{% endif %}
{% endblock %}